* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Gotham', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-size: cover;
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.45);
    height: 85px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gotham', sans-serif;
}

.logo a {
    font-size: 24px;
    margin: 25px;
    color: #fff;
    font-weight: 650;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 25px;
}

nav li.try-hover a {
    color: #1db954;
}

nav li.try-hover a:hover {
    color: white;
}


nav a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h1{
    color: #1db954;
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
}

.container {
    background-color: rgba(7, 7, 7, 0.735);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
    box-shadow: 0px 0px 8px rgba(5, 5, 5, 0.856);
}

h4 {
    margin-top: 10px;
    color: #1db954;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #f8f7f7;
    margin-top: 20px;
}

.image-inspiration {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    width: 100%;
}
.navbar a:hover {
    color: #1db954;
}