<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
</head>

<body>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="{{ url_for('index') }}">PLAYSIC</a></div>

            <ul>
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                <li class="try-hover"><a href="{{ url_for('team') }}">TEAM</a></li>
            </ul>
        </div>
    </nav>
   
        <div class="team">
            <h1>Our Team</h1>
            <p>We are a dedicated team of music enthusiasts and developers who have come together to bring you the best Spotify playlist creation experience.
            <br>Meet our team members:</p>
        
        
            <div class="team-member">
                <img src="{{ url_for('static', filename='insha.jpeg') }}" alt="Team Member 1">
                <h3>INSHA ZEESHAN</h3><br>
                <p style="font-size: 13px; color: #66b080;">Founder & Co-Designer</p><br>
                <p style="font-size: 17px;">Insha developed the core recommendation logic behind personalized playlists.</p>
            </div>
    
            <div class="team-member">
                <img src="{{ url_for('static', filename='pragya.jpeg') }}" alt="Team Member 2">
                <h3>PRAGYA MISHRA</h3><br>
                <p style="font-size: 13px; color: #66b080;">Developer & Designer</p><br>
                <p style="font-size: 17px;">Pragya leads the app's development and design, creating a seamless user experience.</p>
            </div>
        
        </div>

    <div class="image-inspiration">
        PI: teahub.io
    </div>

</body>

</html>